
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.FilmList {
  background-color: white;
  margin: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eeefef;


  box-shadow: 
  0 1px 1px rgba(0,0,0,0,0.13),
  0 10px 0 -5px, #eee,
  0 10px 1px -4px rgba(0,0,0,0,0.13),
  0 20px 0 -10px, #eee, 
  0 20px 1px -9px rgba(0,0,0,0,0.13)
}

.Films {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 0;
  width: 20%;
  border-bottom: 1px solid;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
